.App{
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.App::-webkit-scrollbar{
    display: none;
}


.add-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-form input, .add-form textarea{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border: 2px solid;
}

.add-form button {
    width: 100%;
    height: 75px;
    margin: 0 auto 0;
    border: 2px solid;
    font-size: 2rem;
}

.add-form button:hover{
    cursor: pointer;
}

#add-desc {
    min-height: 100px;
    resize: none;
}