.App{
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.App::-webkit-scrollbar{
    display: none;
}

.browse-container {
    padding: 30px;
}

.browse-container h2, h3{
    margin: auto;
}

.browse-products{
    display: flex;
    flex-wrap: wrap;
}

.browse-product{
    border: 2px solid;
    margin: 0 3px 10px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
}

.browse-product img {
    width: auto;
    height: 400px;
    background-color: darkolivegreen;
}