* {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.body{
  background: linear-gradient(#2A00B7, #42006C);
}

.browse-container {
  padding: 30px;
  color: #dadce1;
  min-height: 79vh;
}

.browse-container p,
.browse-container h2 {
  margin: 0;
  font-size: 1.1rem;
  word-break: break-all;
}

.browse-filter {
  box-sizing: border-box;

  margin: 0 3px 10px;
  padding: 5px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.browse-select {
  width: 200px;
  color: black;
  margin-right: 10px;
}

.browse-products {
  display: flex;
  flex-wrap: wrap;
  float: right;

  width: 100%;
}

.browse-product {
  margin: 0 3px 10px;
  width: 280px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
}

.browse-product h2 {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.browse-product img {
  width: auto;
  height: 400px;
  border: 2px solid;
}
