.body{
    height:fit-content;
    background: linear-gradient(#2A00B7, #42006C);
}

.cart-form-container {
    height:fit-content;
    white-space: nowrap;
    border-radius: 25px;
    border: solid 2px white;
    margin: 3%; 
}

.cart-cost-text{
    border-radius: 25px;
    text-align: center;
    font-size: 200%;
    height: 8vh;
    width: auto + 10%;
    background-color: white;
    margin:4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-title{
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
    font-size: 300%;
    font-style: bold;
    color: white;
    height: 10vh;
    width: auto ;
    background-color: transparent;
    margin: 1%;
    padding: 1%;

}
.cart-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    
}
.button-form{
    float: right;
    width: 180px;
    height: 100px;
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product{
    border-radius: 25px;
    padding: 1%;
    width: 50%;
    margin: 1%;
    background-color: white;
}

.info-form{
    float: left;
    width: 30%;
    height: 20%;
}

.image-form{
    float: left;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.cart-Counter{
    float: left;
    font-size: 100%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.cart-prodinfo{
    float: left;
    font-size: 70%;
    width: auto;
    height: auto;
    margin: 1%;
    color: grey;
}

.cart-empty-text{
    border-radius: 25px;
    text-align: center;
    font-size: 200%;
    height: 20vh;
    width: auto ;
    background-color: white;
    margin: 5%;
    
}


.cart-form button {
    background: none;
    border: none;
    outline: none;
}

.cart-form button:hover{
    cursor: pointer;
}

.cart-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
}