/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(2, 1, 32);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}

.loginbutton {
    float: right
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #2A00B7;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
<<<<<<< Updated upstream
    background-color: #020352;
=======
    background-color: #15097c;
>>>>>>> Stashed changes
    color: white;
}