.App{
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.App::-webkit-scrollbar{
    display: none;
}

.productPage{
    width: 100%;
    min-height: 650px;
    box-sizing:border-box;
    padding: 30px;
}

.browseButton{
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
}

.product-image{
    float: left;

    width: 40%;
    height: 600px;
    background-color: darkolivegreen;
}

.product-info{
    width: 30%;
    float: right;
    border: 2px solid;
}

.product h2, h3, h4, p {
    margin-bottom: 20px;
}

.product img {
    width: 400px;
    height: 500px;
    background-color: darkolivegreen;
}