* {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
  }

.productPage {
  width: 100%;
  min-height: 650px;
  box-sizing: border-box;
  padding: 30px 25%;
  color: var(--container);
}

/* Product image */
.product-image-container {
  float: left;
  width: 50%;
}

.product img {
  width: 100%;
  height: 100%;
}

/* Product info */
.product-info-container {
  width: 40%;
  float: right;
}

.product-info p {
  font-size: 1.5rem;
  margin: 0;
}

.product-info h2 {
  font-size: 3rem;
  margin: 0;
  line-height: 1.1;
}

.product-size {
  font-size: 1rem;
}

.product-buttons-container {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.product-buttons-container button {
  background-color: black;
  color: var(--container);
  border-style: none;
}

.product-buttons-container button:hover {
  background-color: var(--container);
  color: black;
  border-style: none;
  cursor: pointer;
}

.product-cart-button {
  height: 100%;
  width: 80%;
  float: left;
}

.product-stock {
  font-size: 1rem;
  margin: 0;
}

.product-desc {
  font-size: 1.2rem;
  word-break: break-all;
}

.product-reviews {
  color: var(--container);
  width: 100%;
  min-height: 650px;
  box-sizing: border-box;
  padding: 30px 5%;
}

.product-reviews-review {
  width: 100%;
  min-height: 100px;

  border: 2px solid;
  border-radius: 5px;

  margin-bottom: 10px;
  padding: 5px;
}