/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--navbar-color);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
}

.loginbutton {
    float: right;
    height: 90%;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #2A00B7;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #15097c;
    color: white;
}