@font-face {
    font-family: appleFont;
    src: url(../../fonts/Roboto-Light.ttf) ;
}

*{
    margin: 0;
    padding: 0;
    font-family: appleFont;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
    background-color: #FAF9F6;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

body::-webkit-scrollbar{
    display: none;
}

/*-----------------------------------HEADER-----------------------------------*/
.app-header{
    width: 100%;
    position: fixed;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    z-index: 1000;
    top: 0;
    left: 0;
}

.app-header_container{
    display: flex;
    justify-content: space-between;
    width: calc(-3.125px + 87.5%);
    padding: 5px;
}

.logo{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.app-header_links{
    display: flex;
    position: relative;
    justify-content: end;
    width: 100%;
    list-style: none;
}

.app-header_links li{
    margin-right: 50px;
}

.app-header_links li:hover{
    text-decoration: underline;
}

.cart{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/*------------------------------------HOME------------------------------------*/
.home-intro{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-intro p{
    margin: 0;
    letter-spacing: -1.2px;
}

.home-intro-content{
    position: absolute;
    display: flex;
    top: 250px;
    bottom: 200px;
    width: calc(-6.25px + 75%);
    font-size: 4rem;
}

/*--------------------------------------CONTENT-------------------------------*/
.content-item{
    width: 200px;
    height: 300px;
    border: 2px solid;
    display: inline-block;
    margin: 0;
}

/*--------------------------------------FOOTER--------------------------------*/
.app-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding-bottom: 15px;
    left: 0;
    bottom: 0;
    background-color: #FAF9F6;
    position: relative;
}

.app-footer_container{
    display: flex;
    justify-content: space-around;
    width: calc(-3.125px + 37.5%);
    padding: 10px;
}

.app-footer a:hover{
    text-decoration: underline;
}