.browse-content{
    width: 100%;
    top: 0;
    left: 0;
    height: 750px;
    position: absolute;
    margin-top: 110px;
    padding: 30px;
}

#search{
    margin-right: 140px;
    width: 300px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 2rem;
    padding: 5px;
}
