

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form input, .form textarea{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border: 2px solid;
}

.form button {
    background: none;
    border: none;
    outline: none;
}

.form button:hover{
    cursor: pointer;
}

#desc {
    min-height: 100px;
    resize: none;
}