textarea, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    padding: 0px 100px;
    display: flex;
}

h2, h3{
    margin: auto;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.product{
    border: 2px solid;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product img {
    width: auto;
    height: 400px;
    background-color: darkolivegreen;
}

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form input, .form textarea{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form button {
    width: 100%;
    height: 75px;
    margin: 0 auto 0;
    border: 2px solid;
    font-size: 2rem;
}

.form button:hover{
    cursor: pointer;
}

#desc {
    min-height: 100px;
    resize: none;
}